@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@500;600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.0/font/bootstrap-icons.min.css");
@import url("https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Sharp");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Two+Tone");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");
@import url("./rate.css");

*,
html,
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  color: #444;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: #f9f9f9;
  z-index: 999;
}

*::-webkit-scrollbar-track {
  background: #f9f9f9;
}

*::-webkit-scrollbar-thumb {
  background-color: #999; /* color of the scroll thumb */
  border: 3px solid #f9f9f9; /* creates padding around scroll thumb */
  border-radius: 1rem;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #666; /* color of the scroll thumb */
}

*::-webkit-scrollbar-thumb:active {
  background-color: rgb(182, 35, 35); /* color of the scroll thumb */
}

html {
  font-size: 10px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: -1;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  text-align: center;
  align-self: center;
  justify-self: center;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.gridTemplateColumns-1fr1fr {
  grid-template-columns: 1fr 1fr;
}

.gridTemplateColumns-1fr1fr1fr {
  grid-template-columns: 1fr 1fr 1fr;
}

.gridTemplateColumns-1fr1fr1fr1fr {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gridTemplateColumns-1fr1fr1fr1fr1fr {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/*************************/

.display-none {
  display: none;
}

/*************************/

.marginTop-1rem {
  margin-top: 1rem;
}

.marginTop-2rem {
  margin-top: 2rem;
}

.marginTop-3rem {
  margin-top: 3rem;
}

.marginTop-4rem {
  margin-top: 4rem;
}

/*************************/

.marginBottom-4rem {
  margin-bottom: 4rem;
}

.marginBottom-1rem {
  margin-bottom: 1rem;
}

.marginBottom-2rem {
  margin-bottom: 2rem;
}

.marginBottom-3rem {
  margin-bottom: 3rem;
}

/*************************/

.marginRight-1rem {
  margin-right: 1rem;
}

.marginRight-2rem {
  margin-right: 2rem;
}

.marginRight-3rem {
  margin-right: 3rem;
}

.marginRight-4rem {
  margin-right: 4rem;
}

/*************************/

.marginLeft-1rem {
  margin-left: 1rem;
}

.marginLeft-2rem {
  margin-left: 2rem;
}

.marginLeft-3rem {
  margin-left: 3rem;
}

.marginLeft-4rem {
  margin-left: 4rem;
}

/*************************/

.gap-1rem {
  gap: 1rem;
}

.gap-2rem {
  gap: 2rem;
}

.gap-3rem {
  gap: 3rem;
}

.flex-box, .flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.absolute {
  position: absolute;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.relative {
  position: relative;
}

.none {
  display: none;
}

.flex-start-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #00000050;
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in Internet Explorer 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
}

.arabic,
.ar {
  text-align: right;
  font-family: "Tajawal", sans-serif;
}

.en {
  text-align: left;
  font-family: "Lexend Deca", sans-serif;
}

/* -scrollbar arrows of number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.file-drop-area {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 20px;
  border: 1px dashed #ccc;
  border-radius: 3px;
  transition: background-color 0.2s;
  height: 10rem;
}

.center {
  -fx-alignment: center;
  -fx-text-alignment: center;
  text-align: center;
}

.file-drop-area:hover {
  background-color: #fff;
}

.file-drop-area.is-active {
  background-color: #fff;
}

.file-msg {
  font-size: small;
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #444;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.file-input:focus {
  outline: none;
}

input:focus, textarea:focus {
  outline: none;
}

select {
  white-space: nowrap;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.box-shadow {
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
}

.box-shadow-1 {
  box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.2);
}

.box-shadow-2 {
  box-shadow: 0 0 20px -1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 20px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px -1px rgba(0, 0, 0, 0.2);
}

.pointer {
  cursor: pointer;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #eee;
  margin: 1.5rem 0;
}

.column {
  flex-direction: column;
}

.start {
  align-items: flex-start;
  justify-content: flex-start;
}

.flex {
  display: flex;
}

textarea {
  resize: none;
}

i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.english,
.en {
  text-align: left;
  font-family: "Lexend Deca", sans-serif;
}

.dots, .textoverflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.grid {
  display: grid;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/*  Place holder color  */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #aaa;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #aaa;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #aaa;
}


.ar::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #aaa;
  opacity: 1; /* Firefox */
  font-family: "Tajawal", sans-serif;
}

.ar:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #aaa;
  font-family: "Tajawal", sans-serif;
}

.ar::-ms-input-placeholder { /* Microsoft Edge */
  color: #aaa;
  font-family: "Tajawal", sans-serif;
}